{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container top-margin">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="container home-container">
         <div class="container">
            <h1>Welcome</h1>
        </div>

        <div class="home-image"></div>
        <div class="home-text">
            <p>We aim to assist you in all of your bike maintenance needs.</p>
            <p>With our Bike Maintenance Engineers travel directly to you at home and completing all the work there on your doorstep.</p>
            <p>Check out what services are available to our customers below or start your journey by registering an account with us.</p>
            <a href="#" class="btn btn-secondary rounded text-uppercase my-4 btn-black">Get started »</a>
        </div>
    </div>
{% endblock %}