@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&family=Roboto&display=swap');

html, body {
    height: 100%;
    font-family: 'Poppins', 'Roboto';
}

/* Navbar */
.nav {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding: 15px;
}

.nav-background {
    background-color: #000;
}

.home-logo {
    display: flex;
    justify-content: center;
    padding: 0px;
}

.home-logo a {
    color: #fff;
}

.home-logo a.nav-link {
    padding: 10px 20px;
}

.home-logo a.nav-link h3 {
    margin: 0px;
}

.nav-ul {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0px;
    list-style-type: none;
}

.nav-ul li a {
    display: inline-block;
    color: #fff;
    padding: 10px 20px;
    text-decoration: none;
}

.dropdown-menu {
    background-color: #000;
}

.hamburger {
    background-color: transparent;
    display: none;
    border: 0;
    color: #fff;
    cursor: pointer;
    font-size: 25px;

}

.hamburger:focus {
    outline: none;
}

/* Header - push block page_header down */
.header-container {
    padding-top: 60px;
}

/* Hero image on home page */ 
.hero-image {
    background: url('/media/homepage_image2.jpg') no-repeat center center fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 60vh;
}

.hero-text {
    padding: 25px 20px 20px 20px;
    text-align: center;
    color: #000;
}

.hero-text h1{
    margin: 0px 0px 40px; 
    color: #000;
}

/* Buttons */
.btn-black {
    background-color: #000;
    border-color: #000;
}

/* Service header on home page */
.services-header {
    padding: 10px;
    text-align: center;
    background-color: #000;
    color: #fff;
}

.services-header h2 {
    margin: 0px;
    font-weight: 300;
}

/* Service header on home page */
.service-cards {
    display: flex;
    justify-content: centre;
    padding-top: 15px;
}

.service-cards div {
    margin-left: 5px;
    margin-right: 5px;
}
/* Media Queries */

/* Changes to navbar when screen is less than 767px */
@media screen and (max-width: 767px) {
    .nav-ul {
        display: none;
        flex-direction: column;
        width: 100%;
    }

    .nav-ul.show {
        display: flex;
    }

    .hamburger {
        display: block;
    }
}

/* Changes to service cards when screen is less than 767px */
@media screen and (max-width: 767px) {
    .service-cards {
        flex-direction: column;
    }

/* Changes to hero-text when screen is greater than 768px */
@media screen and (min-width: 768px) {
    .hero-text {
        padding: 25px 65px 15px 65px;
        text-align: center;
        color: #000;
    }
}