{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container top-margin">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}




    <div class="container service-container">
        <div class="container">
            <h1>Services</h1>
        </div>

        <div class="container service-cards">
            <div class="card">
                <h1>{{ service.name }}</h1>
                <p>{{ service.description }}</p>
            </div>
        </div>
    </div>
{% endblock %}